body{
    background-color: #faedcd;
    font-family: 'Courier New', Courier, monospace; font-size: 20px;
}
.head{
    background-color: #d4a373;
    color: #51503f;font-family: Arial;font-weight: bold;font-size: 40px;
    text-align: center;padding: 10px;
    margin-bottom: 5px;
}
.line{
    width: 500px;
    margin-left: auto;margin-right: auto;
    padding: 5px;
    background-color: #fefae0;
    color: #756c5f;text-align: center;font-weight: bold;
}
.content{
    border: 2px dashed; margin-top: 5px; margin-bottom: 5px;
    margin-left: auto;margin-right: auto;
    padding: 5px;
    width: 95%;
    letter-spacing: 1px;
}
.title{font-weight: bold;text-align: center;}

@media (max-width:1250px){
    .line{
        font-size: 30px;
    }
    .content{
        margin-left: auto;margin-right: auto;
        font-size: 25px;
        width: 90%;}
}
@media (max-width:500px){
    .line{
        margin-left: auto;margin-right: auto;
        font-size: 15px;
        width: 90%}
    .content{
        margin-left: auto;margin-right: auto;
        font-size: 10px;
        width: 90%;;}
    }
